# Python dependencies for POKERIA
# Core
requests>=2.31
numpy>=1.26
opencv-python>=4.9
Pillow>=10.3
mss>=9.0              # capture écran rapide et cross-platform
PySide6>=6.7          # UI overlay/calibration

# Config / Logs / CLI
PyYAML>=6.0.1
loguru>=0.7.2
rich>=13.7
pywin32
win32gui

# OCR (prévu pour J2, déjà prêt ici)
easyocr>=1.7
scikit-learn>=1.4


# Tests
pytest>=8.2
